.win-fair-lose-grid {
	display: grid;
	grid-template-columns: 40% 20% 40%;
	background-color: #cdffe6;
	padding: 10px;
	border-radius: 25px;
	max-height: 60%;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}
.win-fair-lose-grid .left,
.win-fair-lose-grid .center,
.win-fair-lose-grid .right {
	display: flex;
	justify-content: center;
	align-items: center;
}
